### This is a test file

In [ ]:
import pandas as pd

In [3]:
df01 = pd.DataFrame({'col01' : [1,2,3,4,5], 'col02' : ['a','b','c','d','e']})

In [4]:
df01

   col01 col02
0      1     a
1      2     b
2      3     c
3      4     d
4      5     e

In [5]:
def my_func(x):
    return x + 1

In [6]:
my_func(99)

100