### This is a test file

In [2]:
import pandas as pd

In [3]:
df01 = pd.DataFrame({'col01' : [1,2,3,4,5], 'col02' : ['a','b','c','d','e']})

In [4]:
df01

   col01 col02
0      1     a
1      2     b
2      3     c
3      4     d
4      5     e

In [4]:
def my_func(x):
    return x + 1

In [5]:
my_func(99)

100

In [7]:
df02 = pd.DataFrame({'cc3' : ['this', 'is', 'a', 'column'], 'cc4' : [99,98,97,96]})

In [8]:
df02

      cc3  cc4
0    this   99
1      is   98
2       a   97
3  column   96